		/* GLOBAL STYLES */
		:root {

			--main-bg-color: black;
 	    	--main-text-color: white;
 	    	--contrast-color: #00B107; /*red*/
 	    	--selected-color: black;
		
		}

		* {margin: 0; padding: 0;}
    	body {
    		color: var(--main-text-color);
    		background: var(--main-bg-color);
    	}
    	#v {z-index: 1;
    		}
    	#player {
    		position: absolute;
    		z-index: 1;
    	}
    	#logo {
    		position: absolute;
    		top: 0px;
			left: 48px;
			width: 68px;
			height: 107px;
			z-index: 1000;
		}
		#title-card {
			position: absolute;
			top: 436px;
			left: 288px;
			width: 1200px;
			height: 117px;
			z-index: 2;
		}

		em {
			font-style: normal;
			font-weight: 300;
		}

		#title-card h1 {
		   font: Bold 100px/117px Niveau Grotesk;
		}
	
		#title-card summary {
			font-family: niveau-grotesk, sans-serif;
			font-weight: 200;
			font-style: normal;
			font-size: 30px;
			margin: 15px 0;
			padding:9px 18px;

		}
		#title-card summary em{
			font-weight: 600;

		}
		.contrast {
			background: var(--contrast-color);
			color: white;
		}
		#header-bar-limbic, #header-bar-xd , #header-bar-limbic, #header-bar-case, #header-bar-spark {
			position: absolute;
			/*top: 37px;
			left: 154px;*/
			top:0;
			left: 0;
			text-align: left;
			z-index: 100;
			width: 100%;
			height: 300px;
		}
		#header-bar-limbic h1, #header-bar-limbic h2, #header-bar-xd h1, #header-bar-xd h2, #header-bar-case h1, #header-bar-case h2, #header-bar-spark h1, #header-bar-spark h2 {
			font: Bold 60px/70px Niveau Grotesk;
			letter-spacing: 0;
		}
		#header-bar-limbic h2, #header-bar-case h2{color: #FC0000;}
		#header-group {
			position: absolute;
			top: 37px;
			left: 154px;

		}
		nav {position: absolute;
			top: 20px;
			right: 20px;
			z-index: 4000;

		}

		nav ul li{
			display: inline;
			list-style: none;
			font-family: niveau-grotesk, sans-serif;
			font-weight: 200;
			font-style: normal;
			font-size: 20px;
			padding:0 4px;
		}
		nav ul li.selected {
			background: var(--contrast-color);
			color: var(--selected-color);
		}
		nav ul li:hover {
			background:#fff;
			color:#000;
		}

		#header-bar-container {
			background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
			position: fixed;
			top:0;
			left:0;
			z-index: 10;
			width: 100%;
			height: 220px;
		}